body {
  background-color: #F6F5F1; // oder jede gewünschte Farbe
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.site-logo img {
  height: 50px;
  width: auto;
}

.site-text {
  display: flex;
  flex-direction: column;
}

.site-header {
  border-top: none;
}

