body {
  background-color: #F6F5F1; // oder jede gewünschte Farbe
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.site-logo img {
  height: 50px;
  width: auto;
}

.site-text {
  display: flex;
  flex-direction: column;
}

.site-header {
  border-top: none;
  padding-top: 1.5rem; // Abstand nach oben, z. B. 1.5rem = 24px
}





.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-logo {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.site-nav {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .nav-toggle-label {
    display: block;
  }

  .site-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-toggle:checked + .nav-toggle-label + .site-nav {
    display: flex;
  }
}



